.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.select-width {
  width: 100px
}

.MuiGrid-spacing-xs-3 {
  margin: 0px !important;
}

.header {
  padding: 20px;
        background: #0E86D4;
        border-radius: 5px;
        width: 100%;
        text-align: center;
        margin-bottom: 10px
}

.input-center {
  text-align: center;
}

.label-heading {
  margin-left: 40px;
}

.set-width{
  width: 100vw;
}

.dashboard-layout{
  width: 100vw;
   height: 100vh;
}
.display-block{
  display: block;
}